<%
  i = 0
  letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
%>
<% if locals[:response_code] == "202" # misspelt %>
  <p class="message">(Normally you should see a nice message here with a map and everything with suggestions to point you to the place you might have meant)</p>
<% elsif listings.length < 1 %>
  <p class="message">(Normally you should see a nice message here that explains why there are no results and what you can do about it)</p>
<% end %>
<% if listings then listings.each do |listing| %>
  <%= partial "listing", :locals => {
    :listing => listing,
    :letter => letters[i]} %>
  <% i = [i+1, 25].min %>
<% end end%>
