<div id="background_map">
</div>
<script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.4/mapbox.js'></script>
<script>
  (function() {
    //mapbox.auto("background_map", 'examples.map-vyofok3q', function(map) {
    mapbox.auto("background_map", 'micheljansen.map-800p5acw', function(map) {
      map.centerzoom({lat: 51.529, lon: -0.071}, 12);
    });
  })()
</script>

<form id="search_form" method="post" action="/search">
  <div class="container">
    <div class="toolbar">
      <div class="inner-toolbar">
        <div class="logo"><a href="/"><%= image_tag "/images/Logo.png" %></a></div>
          <input type="hidden" name="listing_type" value="rent"/>
          <input type="hidden" name="property_type" value="property"/>
          <input type="text" name="location" placeholder="Enter a location to search"/>
          <a href="#" class="locate-me"><%= _("Locate me") %></a>
          <input type="submit" href="#" class="button search" value="Search"/>
        </div>
      </div>
    </div>
  </div>
</form>
