<div class="container">
  <div id="results">
    <div id="result-info">
      <h1><%= formatted_number(locals[:num_results]) %> <%=h locals[:verbose_title]%></h1>
    </div>

    <div id="listings">
    <%
      i = 0
      letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    %>
    <% if listings then listings.each do |listing| %>
      <%= partial "listing", :locals => {
        :listing => listing,
        :letter => letters[i]} %>
      <% i = [i+1, 25].min %>
    <% end end%>
    </div> <!-- #listings -->
  </div> <!-- #results -->
</div>
